.scrollbar_none::-webkit-scrollbar {
  display: none; /* Ocultar scroll */
}

.scrollbar_base::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.scrollbar_base::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollbar_base::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scrollbar_base::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
