---
import AnimatedAboutMe from "@/components/AnimatedAboutMe";
import Layout from "@/layouts/Layout.astro";
const { currentLocale } = Astro;
---

<Layout title="About Me">
  <section class="min-h-screen lg:max-h-screen w-full overflow-hidden lg:w-11/12" id="AboutMe">
    <AnimatedAboutMe currentLocale={currentLocale} client:visible />
  </section>
</Layout>
