---
import Layout from "@/layouts/Layout.astro";
import CertificatedComponent from "@/components/Certificates.astro";
---

<Layout title="Certificates">
  <section class="min-h-screen w-full" id="Certificates">
    <CertificatedComponent />
  </section>

</Layout>
