---
import ExperienceCard from "@/components/ExperienceCard";
import Layout from "@/layouts/Layout.astro";

const { currentLocale } = Astro;
---

<Layout title="Experience">
  <section class="w-full mx-10 min-h-screen lg:max-h-screen overflow-hidden" id="Expirience">
    <ExperienceCard currentLocale={currentLocale} client:visible />
  </section>
</Layout>
