---
import ProjectAnimated from "@/components/ProjectAnimated";
import Layout from "@/layouts/Layout.astro";
import project_data_es from "@/utils/project-data-es.json";
import project_data_en from "@/utils/project-data-en.json";
import '../../styles/index.css'
let project_data;
const { currentLocale } = Astro;
currentLocale === "es"
  ? (project_data = project_data_es)
  : (project_data = project_data_en);
---

<Layout title="Briefcase">
  <section id="Projects" class="w-full h-screen scrollbar_base">
    <ProjectAnimated projects={project_data} currentLocale={currentLocale} client:only/>
  </section>
</Layout>
