---
import AnimatedAboutMe from "@/components/AnimatedAboutMe";
import Layout from "@/layouts/Layout.astro";
const { currentLocale } = Astro;
---

<Layout title="Conozcame">
  <section class="min-h-screen lg:max-h-screen w-full overflow-hidden lg:mx-auto" id="AboutMe">
    <AnimatedAboutMe currentLocale={currentLocale} client:visible />
    </section>
</Layout>
