---
import Layout from "@/layouts/Layout.astro";
import CertificatedComponent from "@/components/Certificates.astro";
---

<Layout title="Certificados">
  <section class="min-h-screen w-[98vw] " id="Certificates">
    <CertificatedComponent />
  </section>
</Layout>
