---
import Layout from "@/layouts/Layout.astro";
import CertificatedComponent from "@/components/Certificates.astro";
---

<Layout title="Certificados">
  <section class="min-h-screen w-11/12 mx-10 lg:mx-20" id="Certificates">
    <CertificatedComponent />
  </section>
</Layout>
