---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero";
const { currentLocale } = Astro;
---

<Layout title="Ramiro.Dev">
  <section id="Hero" class="relative left-20 overflow-hidden min-h-screen">
    <Hero client:idle currentLocale={currentLocale} />
  </section>
</Layout>
