<section class="min-h-screen w-full" id="AboutMe">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-3 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12">
        <img
          src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png"
          alt="image"
          loading="lazy"
          width=""
          height=""
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-slate-900 font-bold md:text-4xl">
          ¡Hola! <span class="text-secondary font-mono"
            >Soy Ramiro Gumma, un desarrollador FullStack MERN
          </span> con sede en Buenos Aires, Argentina.
        </h2>
        <p class="mt-6 text-gray-200">
          Desde mis comienzos en el mundo del desarrollo web, he sido impulsado
          por un inquebrantable deseo de aprendizaje y mejora continua. Mi
          formación incluye estudios en Coderhouse, respaldados por
          certificaciones en LinkedIn, FreeCodeCamp y HackerRank, lo que
          demuestra mi dedicación y habilidades técnicas. <br />
          Mi enfoque actual se centra en las tecnologías más relevantes, como HTML,
          CSS, Javascript, Node.js, React y Next.js. Además, cuento con una sólida
          experiencia en el uso de herramientas como Express, MongoDB, PostgreSQL,
          AWS, Websocket, Socket.io, Nodemailer, Strapi y Stripe para el desarrollo
          backend, así como React, Tailwind, Framer.motion y Axios para el frontend.
        </p>
        <p class="mt-4 text-gray-200">
          Lo que me distingue es mi capacidad para adaptarme ágilmente a las
          metodologías de gestión, lo que me permite ofrecer soluciones rápidas
          y efectivas para satisfacer las necesidades de mis clientes. Además,
          mi nivel de inglés es B1, lo que me permite comunicarme eficazmente en
          entornos profesionales y trabajar en equipos internacionales. Mi
          principal objetivo es entregar resultados excepcionales que no solo
          cumplan con las expectativas, sino que las superen.
        </p>
      </div>
    </div>
  </div>
</section>
