---
import certificated_data from "@/utils/certificated-data.json";
import CertificatedCard from "./CertificatedCard";
---

<section class="min-h-screen w-full" id="Certificates">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold capitalize">From the blog</h1>

    <div class="flex m-4 gap-4 flex-1 flex-wrap w-full">
      {
        certificated_data.map((certificate) => (
          <CertificatedCard certificate={certificate} />
        ))
      }
    </div>
  </div>
</section>
