<footer
  class="w-full mt-20 p-4 bg-primary md:flex md:items-center md:justify-between md:p-6"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© 2024 <a
      href="https://flowbite.com"
      class="hover:underline"
      target="_blank">Ramiro Gumma FullStack Developer</a
    >. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
    <li>
      <a
        href="#AboutMe"
        class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
        >Acerca de mi</a
      >
    </li>
    <li>
      <a
        href="#Projects"
        class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
        >Projectos</a
      >
    </li>
    <li>
      <a
        href="#Expirience"
        class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
        >Experiencia</a
      >
    </li>
    <li>
      <a
        href="#"
        class="text-sm text-gray-500 hover:underline dark:text-gray-400"
        >Contact</a
      >
    </li>
  </ul>
</footer>
