---
import ExperienceCard from "@/components/ExperienceCard";
import Layout from "@/layouts/Layout.astro";
const { currentLocale } = Astro;
---

<Layout title="Experiencia">
  <section class="w-full h-screen" id="Expirience">
    <ExperienceCard currentLocale={currentLocale} client:visible />
  </section>
</Layout>
