---
import Head from "@/components/Head.astro";
import Sidebar from "@/components/Sidebar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <Head title={title} />
  <body class="bg-primary">
    <div class="containter">
      <div>
        <Sidebar />
      </div>
      <div class="h-screen w-full overflow-x-hidden">
        <slot />
      </div>
    </div>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      body {
        display: flex;
        flex-direction: column;

        min-height: 100vh;
        overscroll-behavior: none;
      }

      .containter {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      }

      aside {
        background-color: var(--aside-color);
        color: var(--bg-color);
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
