---
import Sidebar from "@/components/Sidebar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "cupcake");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="containter">
      <div>
        <Sidebar />
      </div>
      <div class="overflow-x-hidden">
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --ligth: #d2fad0;
    --dark: #13151a;
    --primary: #034159;
    --secondary: #025951;
    --accent: #038c3e;
    --info: #0cf25d;
    --error: #e32b1e;
    --warning: #e3701e;
    --bg-color: #d2fad0;
    --aside-color: #034159;
  }
  [data-theme="dark"] {
    --bg-color: var(--primary);
    --aside-color: var(--ligth);
    color: #d2fad0;
  }
  [data-theme="cupcake"] {
    --bg-color: var(--ligth);
    --aside-color: var(--primary);
    color: var(--dark);
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    overscroll-behavior: none;
  }

  .containter {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  aside {
    background-color: var(--aside-color);
    color: var(--bg-color);
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
